header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    display: flex;
    align-items: center;
}

body{
    background-color: white;
    padding-top: 10px; /* evita que el contenido quede tapado por el header fijo, ajusta según altura real */
} 
.body{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    position: relative;
    height: 10%;
    margin: 0;
    padding: 0px;
}

.contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto; 
    width: auto;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    

}
.contenedor-productos > div{
    flex: 0 0 calc(50% - 40px);
    transition: transform 0.2s ease,box-shadow 0.2s ease;
    cursor: pointer;
}
.contenedor-productos > div:hover {
    background-color: #efe9e9;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 2);

}
.contenedor-productos > div:hover h3{
    color: rgb(2, 2, 2);
}
.tarjeta-creatina{
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.tarjeta-creatina img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.tarjeta-creatina h3{
    color: #333;
    font-size: 1.2rem;
    margin: 0;
}
.tarjeta-proteina{
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta-proteina img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.tarjeta-proteina h3{
    color: #333;
    font-size: 1.2rem;
    margin: 0;
}
.tarjeta-salud{
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta-salud img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.tarjeta-salud h3{
    color: #333;
    font-size: 1.2rem;
    margin: 0;
}
.tarjeta-preentrenos{
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta-preentrenos img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.tarjeta-preentrenos h3{
    color: #333;
    font-size: 1.2rem;
    margin: 0;
}
.tarjeta-quemador{
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta-quemador img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.tarjeta-quemador h3{
    color: #333;
    font-size: 1.2rem;
    margin: 0;
}
.tarjeta-gainer{
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta-gainer img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.tarjeta-gainer h3{
    color: #333;
    font-size: 1.2rem;
    margin: 0;
}
.titulo{
    animation: aparecer 0.8s ease-out;
    padding-top: 30px;
    text-align: center;
}

@keyframes aparecer{
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    60% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}

.logo{
    max-width: 100%;
    width: 64px;
}
.contenedor-logo{
    margin-left: auto;
}
#open-menu{
    display: none;
}

.abrir-boton-nav{
    cursor: pointer;
    font-size: 28px;
    padding: 10px 15px;
    z-index: 1000;
}

.nav{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #222;
    transition: left 0.3s ease;
    z-index: 999;
}

#open-menu:checked ~ .nav{
    left: 0;
}

.lista-nav{
    list-style: none;
    padding: 60px 0 0 0;
    margin: 0;
}

.lista-nav li{
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    
}
.lista-nav a{
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid rgb(255, 196, 46);
    padding-bottom: 3px;
}

.lista-nav li:hover{
    background-color: #444;
}

.fondo-cerrar{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
}

#open-menu:checked ~ .fondo-cerrar{
    display: block;
}
h2{
    text-align: center;
}
h3{
    text-transform: uppercase;
}
.boton-creatina{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.boton-creatina :hover{
    background-color: red;
}

.contenedor-creatina{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto; 
    width: auto;
    gap: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;

}

.btn-1 { 
    display: inline-block; 
    padding: 13px 40px;
    border: 1px solid green; 
    border-radius: 25px; 
    color: green; 
    text-decoration: none; 
    margin-top: 24px; 
}
.btn-1-a { 
    display: inline-block; 
    padding: 13px 40px;
    border: 1px solid red; 
    border-radius: 25px; 
    color: red; 
    text-decoration: none; 
    margin-top: 24px; }

.precio { 
    font-size: 20px;
    color: green;
    font-weight: bold;
    padding-top: 5px;

    }